@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: navy;
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
    /* border: 2px solid magenta; */
}

.todo-list {
    width: 75%;
    margin: 0 auto;
    /* border: 2px solid orangered; */
  }


.todo {
    border: 2px dashed navy;
    width: 75%;
    text-align: left;
    margin: 8px 0;
    padding-left: 8px;
  }
  
  .todo.completed {
    background-color:magenta;
    text-decoration: line-through;
  }

  form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  form > input {
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    background-color: rgb(209, 232, 240);
    border-bottom: 2px solid navy;
    margin-right: 8px;
  }